.progressBarCase {
  margin-top: 1rem;
  width: 60rem;
  height: 0.7rem;
  background-color: white;
  border-radius: 1rem;
  //   .progressBarFill {
  //     width: auto;
  //     height: auto;
  //   }
}
